@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 5px;
}

img {
    vertical-align: bottom;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    background-color: #EAE8FE;
}

button, input {
    font-weight: 500;
    border: none;
}
/* reset */


.logo {
    display: block;
    width: 386px;
    margin: 0 auto;
    border-radius: 0;
}

.container {
    display: flex;
    margin-top: 67px;
    justify-content: center;
}

/* left section */
.select-cola {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 360px;
    height: 545px;
    padding: 31px 27px 28px;
    margin-right: 28px;
    background-color: #fff;
}

.btn-cola {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.item {
    position: relative;
    width: 94px;
    height: 130px;
    padding: 11px 12px 9px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.item.push {
    outline: 3px solid #6327FE;
}

.btn-cola button::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 94px;
    height: 130px;
    border: none;
    border-radius: 10px;
    background: url(/images/Sold-out.png) center no-repeat;
    background-size: 70%; 
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-cola p {
    font-size: 9px;
    line-height: 11px;
    margin: 6px 0 7px;
}

.btn-cola .price { 
    font-size: 12px;
    line-height: 12px;
    padding: 5px 15px;
    border-radius: 50px;
    color: #fff;
    background-color: #6327FE;
}

.btn-cola img {
    width: 36px;
    height: 65px;
}

.inp-money {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}

.inp-money p, .inp-deposit {
    width: 200px;
    height: 32px;
}

.inp-deposit {
    padding: 6px;
    border: 1px solid #BDBDBD;
}

.inp-money p {
    display: flex;
    font-size: 14px;
    padding: 6px 10px;
    background-color: #EAE8FE;
    align-items: center;
    justify-content: space-between;
}

.btn-return-money, .btn-deposit {
    font-size: 13px;
    width: 94px;
    height: 32px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.cart-get {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 106px;
}

.cola-cart {
    overflow:auto;
    /* flex-basis: 200px; */
    /* width: 100%; */
    height: 104px;
    padding: 11px 14px 11px 11px;
}

/* 스크롤바 */
.scroll-box {
    /* flex-basis: 200px; */
    width: 100%;
    padding-right: 3px;
    /* margin-right: 12px; */
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
}

.cola-cart::-webkit-scrollbar,
.get-list::-webkit-scrollbar {
    width: 4px;
}
.cola-cart::-webkit-scrollbar-thumb,
.get-list::-webkit-scrollbar-thumb {
    height: 79px;
    background-clip: padding-box;
    background-color:#fff;
    border-radius: 50px;
}

.cola-cart::-webkit-scrollbar-track,
.get-list::-webkit-scrollbar-track {
    background-color: #EAE8FE;
}

.cola-cart li, .get-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 9px;
    width: 100%; 
    /* height: 46px; */
    padding: 6px 8px 7px 10px;
    margin-bottom: 6px;
    background-color: #fff;
}

.cola-cart img, .get-list img {
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.list-txt {
    margin-right: auto;
}

.cola-num {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
}

.btn-get {
    font-size: 13px;
    flex-shrink: 0;
    color: #fff;
    width: 94px;
    height: 106px;
    background-color: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}


/* right section */
.cola-out {
    display: flex;
    width: 360px;
    flex-direction: column;
}

.my-money {
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 50px;
    padding: 9px 27px;
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: space-between;
}

.my-money p {
    display: flex;
    width: 100%;
    height: 32px;
    padding: 6px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #EAE8FE;
}

.money-now {
    display: flex;
    font-size: 700;
}

.cola-get {
    width: 360px;
    height: 475px;
    padding: 25px 27px 27px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.cola-get h2 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 13px;
}

.get-list {
    overflow: auto;
    width: 100%;
    height: 364px;
    padding: 12px 9px 12px 12px;
    background-color: #EAE8FE;
}

.scroll-box:nth-child(2) {
    margin-right: 0;
    margin-bottom: 6px;
}

.sum {
    display: flex;
    justify-content: right;
}

.sum p {
    font-size: 12px;
    line-height: 17px;
}